body
{
    text-align: center;
}

#videos iframe
{
    width: 80%;
    height: 500px;
    border:none;
}

h1{
    border-radius:20;
}

h2{
    border-radius:20;
}

h3{
    border-radius:20;
}


